<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyedward.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.wyedward.domain.Comment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
    <result column="admin_comment" property="adminComment" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    comment_id, context, create_time, nick_name, email, blog_id, parent_id, head_portrait, 
    admin_comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wyedward.domain.Comment" >
    insert into comment (comment_id, context, create_time, 
      nick_name, email, blog_id, 
      parent_id, head_portrait, admin_comment
      )
    values (#{commentId,jdbcType=INTEGER}, #{context,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{nickName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{blogId,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER}, #{headPortrait,jdbcType=VARCHAR}, #{adminComment,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wyedward.domain.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="headPortrait != null" >
        head_portrait,
      </if>
      <if test="adminComment != null" >
        admin_comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null" >
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="headPortrait != null" >
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="adminComment != null" >
        #{adminComment,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wyedward.domain.Comment" >
    update comment
    <set >
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null" >
        blog_id = #{blogId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="headPortrait != null" >
        head_portrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="adminComment != null" >
        admin_comment = #{adminComment,jdbcType=CHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wyedward.domain.Comment" >
    update comment
    set context = #{context,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      nick_name = #{nickName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      blog_id = #{blogId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      admin_comment = #{adminComment,jdbcType=CHAR}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>